@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: courier new,Raleway,Roboto Slab,monospace,Lato,arial,helvetica;
	color: #444;
    font-weight: 300;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 1.2em;
}
.intro p{
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:left;
}

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 2.5em;
		font-family: courier new,Raleway,arial,helvetica;
		font-weight: 400;
		margin: 0.5em 0;
		padding:0;
		text-align:left;
		margin-left: 0px;
	}
	h2{
		font-size: 2em;
		font-family: courier new,Raleway,arial,helvetica;
		font-weight: 300;
		margin:0.5em 0 0em 0;
		padding:0;
		text-align:left;
		margin-left: 0px;
	}
	h3{
		font-size: 2em;
		font-family: courier new,Raleway,arial,helvetica;
		font-weight: 300;
		margin:0;
		padding:0;
		text-align:left;
	}
	h4{
		font-size: 1.5em;
		font-family: courier new,Raleway,arial,helvetica;
		font-weight: 300;
		margin:0.5em 0 0em 0;
		padding:0;
		text-align:left;
	}
	h5{
		font-family: courier new,Raleway,arial,helvetica;
		font-weight: 300;
		margin:0;
		padding:0;
		text-align:left;
	}
	.intro {
		margin-top:3em;
	}
	.intro p{
		padding:0.2em 0;
	}
	.intro li{
		color: #444;
	}

	.intro a{
		color: #aaa;
	}
	.inline-legend {
		xxfont-family: monospace,Lato,courier new,Raleway,arial,helvetica;
		color: #666666;
		font-size: 1.2em;
		margin-top: 0em;
		padding: 15px;
		background: #f4f5f7;
		border: solid #cccccc 0.1px;
		border-radius: 0em 0.5em 0.5em 0.5em;
	}
	#themeLegendDiv {
		border-radius: 0.5px;
	}
	.legend-color-button{
		color: #666666;
		xxfont-family: arial,helvetica;
	}
	a.theme-button {
		color: #000000;
		text-decoration: none;
		padding-left: 0em;
	}
	span.theme-button {
		font-size:14px;
		color:#888888;
		background:#414141;
		padding:0.5em;
	}
	span.legend-button-settings {
		color:#eeeeee;
	}
	table.theme-legend {
		line-height:1.1em;
		color:#888888;
		max-width: 300px;
	}
	td.theme-legend {
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding-left: 0.5em;
	}
	td.theme-legend-count {
		width: 100px;
		overflow: hidden;
		text-align:right;
		padding-left:1em;
		padding-right:0.5em;
		color:#9498a0;
	}
	tr.theme-legend-item td a {
		color: #666666;
	}
	tr.theme-legend-item-selected {
		color: #888888;
		background: #F9F4C2;
	}
	.theme-legend h4 {
		line-height: 1em;
	}

	.theme-legend-item, a.theme-legend-item{
		color: #444444;
		padding-bottom:0.2em;
		margin-bottom:0.5em;
		border-bottom:white solid 1px;
	}
	.theme-legend-item-selected, a.theme-legend-item-selected{
		color: #444444;
		background: #F9F4C2;
		padding-bottom:0.2em;
		margin-bottom:0.5em;
		border-bottom:white solid 1px;
	}

	#legend-classesgeneric{
		font-size: 1.05em;
	}
	a {
		color: #d0d8d0;
	}
	.legend-filter,p.legend-filter {
		border-radius: 0.2em;
		font-size:1em;
		padding: 0.4em;
		color:#888;
		background:rgba(128,128,128,0.2);
	}
	p.legend-filter {
		margin-bottom:1em;
	}

	.map-legend-footer p{
		margin: 0 auto;
		font-size: 1.2em;
	}
	.map-legend-footer p a{
		color: #80a8df;
	}



	.list-group-item {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: solid #dddddd 1px;
		margin-bottom: 0;
	}

	.dropdown-item {
		font-size: 1.2em;
		margin: 2em 1em;
	}

	.input-group-addon {
		padding: 6px 12px;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		color: #555;
		text-align: center;
		background-color: rgba(255,255,255,0.9);
		border: 0;
		border-radius: 0;
	}
	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		line-height: 2em;
		text-align:left;
		margin: 2px 0 0;
		list-style: none;
		font-size: 14px;
		background-color: #fff;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175); */
		box-shadow: 0 0px 0px rgba(0,0,0,.175); */
		background-clip: padding-box;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:left;
		padding: 0em 0em 1em 0em;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

	.fp-controlArrow {
		top: 96%;
	}
	.fp-controlArrow.fp-prev {
		left: 15px;
		width: 0;
		border-width: 21.5px 22px 21.5px 0;
		border-color: transparent #aaa transparent transparent;
	}
	.fp-controlArrow.fp-next {
		right: 15px;
		border-width: 21.5px 0 21.5px 22px;
		border-color: transparent transparent transparent #aaa;
	}
	.fp-controlArrow.fp-up {
		  width: 0; 
		  height: 0; 
		  border-top: 20px solid transparent;
		  border-right: 20px solid transparent;
		  border-left: 20px solid transparent;
		  border-bottom: 20px solid #bbb;
	}
	.fp-controlArrow.fp-down {
		  width: 0; 
		  height: 0; 
		  border-top: 20px solid #bbb;
		  border-right: 20px solid transparent;
		  border-left: 20px solid transparent;
		  border-bottom: 20px solid transparent;
	}

	/* scrollbar */
	/* width */
	::-webkit-scrollbar {
	  width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: rgba(0,0,0,0.02); 
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: rgba(120,120,120,0.1); 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #888; 
	}

	.footer {
		margin-top:2em;
	}
	.footer p {
		font-size:1.2em;
	}
	.glyphicon {
		display: inline;
	}


