@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #444;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 4em;
		font-family: arial,helvetica;
		margin:0;
		padding:0;
		text-align:center;
	}
	h2{
		font-size: 2em;
		font-family: arial,helvetica;
		margin:0;
		padding:0;
		text-align:center;
	}
	.intro {
		margin-top:3em;
	}
	.intro p{
		padding:0.2em 0;
	}
	.intro li{
		color: #fff;
	}

	.intro a{
		color: #aaa;
	}
	.inline-legend {
		margin-top: 0.5em;
		padding: 0.5em;
		background: none;
	}
	a.theme-button {
		text-decoration: none;
		padding-left: 0.1em;
	}
	span.theme-button {
		font-size:14px;
		color:#888888;
		background:#414141;
		padding:0.5em;
	}
	span.legend-button-settings {
		color:#eeeeee;
	}
	table.theme-legend {
		line-height:1.1em;
		color:#888888;
		max-width: 300px;
	}
	td.theme-legend {
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding-left: 0.5em;
	}
	td.theme-legend-count {
		width: 100px;
		overflow: hidden;
		text-align:right;
		padding-left:1em;
		color:#9498a0;
	}
	tr.theme-legend-item td a {
		color: #666666;
	}
	tr.theme-legend-item-selected {
		color: #888888;
		background: #F9F4C2;
	}
	.theme-legend h4 {
		line-height: 1em;
	}
	a {
		color: #d0d8d0;
		padding-left: 0.1em;
	}
	.legend-filter,p.legend-filter{
		border-radius: 0.2em;
		font-size:1em;
	}
	p.legend-filter{
		margin-bottom:0.5em;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:left;
		padding: 1em 2em 1em 1em;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

	.fp-controlArrow.fp-prev {
		left: 15px;
		width: 0;
		border-width: 38.5px 34px 38.5px 0;
		border-color: transparent #ddd transparent transparent;
	}
	.fp-controlArrow.fp-next {
		right: 15px;
		border-width: 38.5px 0 38.5px 34px;
		border-color: transparent transparent transparent #ddd;
	}

	::-webkit-scrollbar { 
		display: none; 
	}

	.footer {
		margin-top:2em;
	}
	.footer p {
		font-size:1.2em;
	}
